
.insert-form {
    background-color: white !;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px !important;
    margin: 15px !important;
    font-family: montserrat !important;
    padding-top: 0px !important;
  }