
.ui-components {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* ---------------------- */
/* PDF UI REFINING START */
/* ---------------------- */

@page {
  bleed: 1cm;
  size: A4 portrait;
  size: auto; /* auto is the initial value */
  margin-bottom: 50pt;
  margin-top: 0cm;
  font-size: 12pt;
}


@media print {
  .page {
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }

  table {
    page-break-inside: auto;
  }

  tr.last-row {
    background-color: #555 !important;
  }

  tr.last-row > th,
  tr.last-row > td {
    background-color: unset !important;
  }

  div.page-break {
    page-break-before: auto;
  }
}

.gray {
  color: #0f0e0e;
}

.gray-ish {
  color: rgb(76, 76, 76);
}

.almost-gray {
  color: #999;
}

div.invoice-header {
  background-color: #0f0e0e !important;
  color: white;
  border-bottom: 5px solid #d5d6d1 !important;
}

div.invoice-header > div > p {
  font-size: 1.2rem;
  font-weight: 350;
}

div.invoice-header > div > h1 {
  font-size: 4rem;
}

div.invoice-table {
  border-top: 3px solid #0f0e0e !important;
}

div.invoice-table > table.table > thead,
div.invoice-table > table.table > thead.thead > tr,
div.invoice-table > table.table > thead.thead > tr > th {
  border-top: none;
}

div.total-field {
  position: relative;
}

h5.due-date {
  position: absolute;
  bottom: 10px;
  right: 15px;
}

div.sub-table {
  border-left: 3px solid rgb(255, 77, 77);
  padding-left: 0;
}

div.sub-table > table {
  padding-bottom: 0;
  margin-bottom: 0;
}

tr.last-row {
  margin-top: 25px;
  background-color: #555;
  color: white;
  border-top: 3px solid rgb(255, 77, 77);
}

p.footer {
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding-top: 15px;
  border-top: 3px solid red;
}

.additional-information {
  padding-top: 30px;
  padding-bottom: 40px;
}

.additional-information h4 {
  font-size: 21px !important;
}

.additional-information p{
  font-size: 15px !important;
}

.page-footer p {
  font-size: 15px !important;
  font-weight: 500 !important;
}

/* -------------------- */
/* PDF UI REFINING END */
/* -------------------- */


